---
layout: orderedlist
title: Citadel
---


<header>
<h1>Citadel</h1>
<p></p>

<p class="view"><small>Index</small></p>

<ul>
  {% for post in site.posts %}
    <li>{{ post.date | date_to_string }} <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
</header>

<section>

{% for post in site.posts %}
    <div>
    	<hr>
    	<a href="{{ site.baseurl }}{{ post.url }}"><h3>{{ post.title }}</h3></a>
    	<p><em>{{ post.excerpt }}</em></p>    	
    </div>
    <br>
{% endfor %}


</section>

<footer>
  <p>This site is maintained by <a href="https://github.com/Ob-4">Ob-4</a></p>
  <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
</footer>

